@{
    ViewBag.Title = "Forside";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Bachelor projekt for A-Team VIA Horsens</h1>
</div>

<p> @ViewBag.message </p>

<p>Dette er en hjemmeside for skoler og lærer</p>



@{ if (Session["Status"] != null)
    {
        string userid = (string)Session["Navn"];

        <h2>Velkommen @userid </h2>
    }
}

<div class="row">
</div>

