@{
    ViewBag.Title = "Log ind";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<p>@ViewBag.Message</p>

@using (Html.BeginForm("BTNLogin", "Login", FormMethod.Post))
{
    <form>
        <div class="container">
            <label for="username"><b>Brugernavn</b></label>
            <input type="text" placeholder="Indtast brugernavn" name="username" required>

            <label for="password"><b>Kodeord</b></label>
            <input type="password" placeholder="Indtast kodeord" name="password" required>

            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary">Tilbage til forsiden</button>
            </div>
        </div>
    </form>
}
